USE [master]
GO
/****** Object:  Database [Vuelto]    Script Date: 8/3/2021 22:03:06 ******/
CREATE DATABASE [Vuelto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Vuelto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Vuelto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Vuelto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Vuelto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vuelto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Vuelto]
GO
/****** Object:  Table [dbo].[Banknotes]    Script Date: 8/3/2021 22:03:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banknotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Billetes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangeDetail]    Script Date: 8/3/2021 22:03:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SaleId] [int] NOT NULL,
	[IsCoin] [bit] NOT NULL,
	[Qty] [int] NULL,
	[Value] [decimal](10, 2) NULL,
	[DetailTotal] [decimal](10, 2) NULL,
 CONSTRAINT [PK_SaleItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coins]    Script Date: 8/3/2021 22:03:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Monedas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 8/3/2021 22:03:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Total] [decimal](10, 2) NULL,
	[PaidAmount] [decimal](10, 2) NULL,
	[Change] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Banknotes] ON 

INSERT [dbo].[Banknotes] ([Id], [Value]) VALUES (1, CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[Banknotes] ([Id], [Value]) VALUES (2, CAST(50.00 AS Decimal(10, 2)))
INSERT [dbo].[Banknotes] ([Id], [Value]) VALUES (3, CAST(20.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Banknotes] OFF
GO
SET IDENTITY_INSERT [dbo].[Coins] ON 

INSERT [dbo].[Coins] ([Id], [Value]) VALUES (1, CAST(0.01 AS Decimal(10, 2)))
INSERT [dbo].[Coins] ([Id], [Value]) VALUES (2, CAST(0.05 AS Decimal(10, 2)))
INSERT [dbo].[Coins] ([Id], [Value]) VALUES (3, CAST(0.10 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Coins] OFF
GO
USE [master]
GO
